[user]
	email = arttu@nanjo.dev
	name = Arttu Kaipainen
	signingkey = A2DC876ED41064B62F44AA3CDF1DFBAD1FB4337D
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[pull]
	rebase = true
	autoStash = true
[rebase]
	autoStash = true
