* {
  font-family: JetBrainsMonoNF, Roboto, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

.module {
  padding: 0 8px;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #ff6961;
}

#pulseaudio>* {
  padding-left: 2px;
  padding-right: 2px;
}
