@import "./mocha.css";

* {
    font-family: JetBrainsMonoNF, monospace;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

tooltip {
    background-color: @crust;
}

tooltip label {
    font-size: 18px;
}

label:focus {
    background-color: #000000;
}

.module {
    padding: 0 8px;
    text-shadow: 1px 1px 1px black;
}

#tray,
#pulseaudio,
#network,
#battery,
#clock,
#custom-notification {
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button {
    border-radius: 4px;
}

#workspaces button.active {
    background-color: @crust;
    color: @red;
}

#window {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#pulseaudio {
    color: @green;
}

#battery,
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
    color: @red;
}

#network {
    color: @blue;
}

#clock {
    color: @mauve;
}

#custom-notification {
    color: @peach;
    font-size: 20px;
}
